.class-input {
  width: 260px;
  height: 30px;
  margin-left: 10px;
}
.watch-button {
  font-size: 20px;
  width: 200px;
  height: 30px;
  margin-top: 25px;
  background: lightgray;
  border-radius: 5px 5px;
  color: grey;
}
