.clock {
  width: 400px;
  font-size: 50px;
  margin-top: 50px;
  margin-left: 500px;
  text-align: center;
  vertical-align: middle;
}
.clock-outer-block {
  display: table;
  line-height: 90px;
  display: block;
  margin: auto;
  margin-left: 11.7%;
}
